@model IEnumerable<MvcTokoOnline.Models.Produk>
@{
    ViewData["Title"] = "Halaman Produk";
}

<h2>Selamat Berbelanja</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ukuran)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ukuran)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriID)
            </td>
        </tr>
}
    </tbody>
</table>